#app {
	width: 100%;
	height: 100%;
	min-height: 640px;
	min-width: 480px;
}

nav {
	margin-top: 200px;
	margin-left: 20px;
	align-content: center;
	height: 100%;
	font-size: 30px;
	a {
		color: whitesmoke;
	}
}

html, body {
	height: 100%;
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	font-size: 20px;
	overflow: auto;
	color: whitesmoke;
}

h2 {
	text-align: center;
	color: whitesmoke;
	text-indent: 0;
}

p {
	text-indent: 25px;
}

header {
	border-bottom: 5px dashed rgb(148, 148, 146);
	color: #cec9c9;
	font-size: 50px;
	align-items: center;
	align-content: center;
  justify-content: center;
}

.after {
	color: #cec9c9;
	width: 15%;
}

.before {
	color: #cec9c9;
	width: 100%;
}

.scroll-page {
  display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column wrap;
	height: 100%;
	width: 60%;
}

.avatar {
	margin-left: 100px;
	border-radius: 100%;
	border: 8px solid whitesmoke;
	height: 90%;
}

.container {
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	margin: 5%;
}

.photo {
	border-radius: 20%;
	border: 6px inset whitesmoke;
	height: 60%;
}

.flex-container {
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 30%;
	display: flex;
	background-image: url(/img/header.jpg);
}

.window {
	background-image: url(/img/fon.jpg);
	// background: whitesmoke;
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.photo-container {
	margin: 50px;
	width: 500px;
	height: 350px;
	background-image: url(/img/back-photo.png);
	border: 10px ridge yellow;
	justify-content: center;
	align-content: center;
	flex-flow: row wrap;
	display: flex;
}

.container-window {
	background-position: center;
	background-image: url(/img/container-window.png);
	border: 8px groove whitesmoke;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-flow: column wrap;
	display: flex;
	margin: 10%;
}